/*
 * Vertical Rhythm Overrides
 */

h1 {
	font-size: 2.618em;
	line-height: 1.19em;
    /*margin-top: 0.1em;*/
}

h2 {
	font-size: 1.618em;
	line-height: 1.2;
    /*margin-top: 0.2em;*/
	margin-bottom: 0.382em;
}

h3 {

	font-size: 1.2em; /*1.375em;*/
	line-height: 1.4em;
	margin-bottom: 0.6em;
}

/*
 * Spacing
 */

